*{
    box-sizing: border-box;
}
.main{
    .mui-scroll{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        width: 375px;
        h4{
            height: 50px;
           line-height: 50px;
           margin: 0;
           
        }
        .money{
            font-size: 14px;
           margin-top: -5px;
            padding: 0 0 10px 0;
            color: #ff871b;
        }
        p{
            display: flex;
            margin-bottom: 10px;
            span{
                font-size: 14px;
                color: #aaaa;
                padding-right: 5px;
            }
        }
        .text{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 240px;

            p{
                font-size: normal;
                color: #5a5a5a;
                flex: 1;
                margin-bottom: 3px;
                
 
            }
           
        }
        .up{
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            width: 375px;
            margin-bottom: 15px;
            .later{
                display: flex;
                justify-content: left;
                color: #5a5a5a;
                font-size: 13px;
               
             }
             img{
               width: 100%;
               width: 226px;
             }
        }
    
        .city{
            width: 100%;
            text-align: center;
         
        }
        .buy{
            height: 44px;
            width: 100%;
            padding: 5px 35px 0 10px;

         
            p{
                // width: 100%;
                line-height: 20px;
                display: block;
                background-color: #ff9400;
                text-align: center;
                margin: 0;
                color: #ffff;
                border-radius: 3px;
            }
        }
        .pc{
            height: 120px;
            width: 100%;
            padding-right: 25px;
             img{
                 width: 100%;

             }
        }
       .tit{
           margin-top: 20px;
           font-size: 14px;
           margin-bottom: 10px;
       }
       .reply{
           .form{
               padding-right: 30px;
               #ctl00_ContentBody_txt_nr{
                   margin: 0;
                   padding: 0;
                   height:76px;
               }
               .ctrl{
                   height:35px;
                   width:100%;
                   position: relative;
                   background-color: #fbfbfb;
                   margin-top: -9px;
                   border:1px solid #ccc;
                   .tjdp{
                       position: absolute;
                   right: 0;
                   }
               }
           }
          
       }
       #newcomment{
        margin:10px 0 0 0;
    }
    }
}